@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0 0 1% 0;
    font-size: 1rem;
    /* border: 1px dotted black; */
    /* This border is designed to be uncommented in order to see the boxes on the page for help with positioning */
}

body {
    background-color: seashell;
    color: darkcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* I haven't changed the margins for the body because I've already done this for everything using the *, and then I also wish to have the seashell color to apply to the entire document (that's not the header) */
}

h1 {
    font-size: 3em;
}

h2 {
    color: lightcoral;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

h3 {
    font-size: 1.5em;
}

h4,
#citation {
    color: darkcyan;
}

#citation {
    font-size: 1em;
}

header {
    /* This nice gradient is courtesy of cssgradient.io */
    background: rgb(0, 172, 127);
    background: linear-gradient(304deg, rgba(0, 172, 127, 0.75) 0%, rgba(167, 120, 167, 0.75) 50%, rgba(0, 212, 255, 0.75) 100%);
    height: min-content;
    padding-top: 5%;
    font-family: 'Indie Flower', cursive;
}

main,
header {
    padding-left: 20%;
    padding-right: 20%;
}

div hr {
    margin: 0 auto;
    width: 80vw;
}

header img {
    width: 100%;
}

#qMark {
    float: right;
    width: 50%;
    padding-left: 3%;
}

main p,
li {
    text-align: justify;
}

li {
    margin-left: 5%;
}

a:link {
    text-decoration: none;
    font-weight: 700;
    color: darkcyan;
}

a:hover {
    opacity: .5;
}

a:active {
    opacity: 1;
}

a:visited {
    opacity: .25;
}

.orange {
    color: lightcoral;
}

.first {
    color: rgb(0, 180, 139);
}

.second {
    color: rgb(0, 160, 139);
}

.third {
    color: rgb(0, 140, 139);
}

.fourth {
    color: rgb(0, 120, 139);
}

.fifth {
    color: rgb(0, 100, 139);
}

.navbar,
footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    height: min-content;
    margin: 0;
}

footer {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    width: 100%;
    background-color: coral;
    opacity: .9;
    position: fixed;
}

.sidebar {
    background-color: blanchedalmond;
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
    width: 10vw;
    padding: 3%;
    position: absolute;
    top: 100%;
    right: 0;
    text-align: left;
}

.ad {
    margin: auto;
    text-align: center;
    width: 40vw;
    background-color: blue;
    border-radius: 10px;
    padding: 1%;
}

.adText {
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0 10%;
}

.adButton {
    background-color: yellow;
    padding: 3%;
    border-radius: 10px;
    font-size: 2em;
    font-family: sans-serif;
    cursor: pointer;
}

.cooking {
    animation: cooking 5s linear both;
}

/* .cooling {
    animation: cooling 5s linear both;
} */

@keyframes cooking {
    from {background-color: "";}
    to {background-color: red;}
}

@keyframes cooling {
    from {background-color: "red";}
    to {background-color: "seashell";}
}

@media screen and (max-width: 1000px) {
    #sidebar {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #sidebar {
        display: none;
    }
    main p, li{
        text-align: left;
    }
    .adText {
        padding: 0;
    }
}