@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    color: darkcyan;
    padding: 0;
    margin: 0 0 1% 0;
    font-size: 1rem;
    /* border: 1px dotted black; */
    /* This border is designed to be uncommented in order to see the boxes on the page for help with positioning */
}

body {
    background-color: seashell;
}

h1 {
    font-size: 3em;
}

h2 {
    color: lightcoral;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

header {
    /* This nice gradient is courtesy of cssgradient.io */
    background: rgb(0, 172, 127);
    background: linear-gradient(304deg, rgba(0, 172, 127, 0.75) 0%, rgba(167, 120, 167, 0.75) 50%, rgba(0, 212, 255, 0.75) 100%);
    height: min-content;
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Indie Flower', cursive;
}

main {
    padding-left: 15%;
    padding-right: 15%;
}

footer {
    padding-left: 15%;
    padding-right: 15%;
}

div hr {
    margin: 0 auto;
    width: 80vw;
}

header img {
    width: 100%;
}
main p img{
    float: right;
    width: 50%;
}
a {
    text-decoration: none;
    font-weight: 700;
}
a:hover{
    opacity: .5;
}
